@import "tailwindcss";
@import "./styles/tokens.css";

* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-neutral-700) transparent;
}

*::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-neutral-700);
  border-radius: 20px;
  border: 2px solid transparent;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-neutral-600);
}

body {
  background-color: var(--color-bg);
  color: var(--color-text-main);
  overflow-x: hidden;
}
