@import "tailwindcss";

:root {
  --background: #141414;
  --surface: #1f1f1f;
  --primary: #e50914;
  --primary-hover: #b2070f;
  --text-primary: #ffffff;
  --text-secondary: #b3b3b3;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #404040 transparent;
}

*::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #404040;
  border-radius: 20px;
  border: 2px solid transparent;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #525252;
}

body {
  background-color: var(--background);
  color: var(--text-primary);
  overflow-x: hidden;
}